@import '../../../assets/sass/variables.scss';

.restaurant-item-container {
    .item-name {
        color: white;
        font-size: 24px;
    }

    .percent-container {
        width: 250px;
        height: 2px;
        margin-top: 5px;

        .percent-inner {
            width: 100%;
            max-width: 0%;;
            height: 2px;
            background-color: $teal;
            transition: max-width 0.3s;
        }
    }
}